<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ControllerProject</servlet-name>
        <servlet-class>myservlets.ControllerProject</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerUser</servlet-name>
        <servlet-class>myservlets.ControllerUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerFund</servlet-name>
        <servlet-class>myservlets.ControllerFund</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerMemorise</servlet-name>
        <servlet-class>myservlets.ControllerMemorise</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControllerProject</servlet-name>
        <url-pattern>/ControllerProject</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerUser</servlet-name>
        <url-pattern>/ControllerUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerFund</servlet-name>
        <url-pattern>/ControllerFund</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerMemorise</servlet-name>
        <url-pattern>/ControllerMemorise</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <error-code>404</error-code>
        <location>/index.jsp?nav=error</location>
    </error-page>
</web-app>
