div.container {
    min-height: 12em;
}

footer {
    text-align: center;
    margin: 10px 10px 10px;
}

.no-padding {
    padding: 5px 15px;
}

.back-success {
    background-color: #4CAF50 !important;
}
.back-danger {
    background-color: #E51C23 !important;
}
.back-primary {
    background-color: #0D87E9 !important;
}

small.by {
    font-size: 25%;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 35px;
    height: 0;
    overflow: hidden;
}

.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.progress-bar-success.progress-bar:last-child:before {
    border-radius: 3px;
}

.progress-bar:last-child {
    border-radius: 3px;
}

.project-stats li {
    display: inline-block;
    margin-right: 10px;
}

.project-stats li:last-child {
    margin-right: 0px;
}

.project-stats-value {
    color: #182D0D;
    font-weight: bold;
}

.project-tags-box {
    width: auto;
    word-wrap: break-word;
}
.project-tags {
    display: inline-block;
}

.project-tags .label {
    margin-right: 3px;
    display: inline-block;
    padding: 0.35em 0.6em 0.3em;
}
.project-tags .label:first-child {
    margin-left: 3px;
}

.project-tags .glyphicon {
    margin-right: 7px;
}

.project-tags a {
    color: #555;
    text-decoration: none;
}

.project-tags a:hover {
    color: #0A6EBD;
}

.logo {
    display: inline-block !important;
    margin-top: -5px;
    height: 32px;
}

.big-input {
    font-size: 4em !important;
    height: auto;
}

#comments div.media:first-child {
    margin-top: 16px;
}

#comments .profile-img {
    max-width: 3em;
}

#comments .time-relative {
    margin-left: 2em;
}

.nav .small-dropdown {
    padding-left: 2px;
    padding-right: 2px;
}

.navbar-right > li {
    text-align: center;
}
#privateMessages > ul > li {
    max-height: 256px;
    max-width: 256px;
    overflow: hidden;
}

.fadeout {
    pointer-events: none;
    position: relative;
    margin-bottom: -2em;
    bottom: 2em;
    width:100%;
    height: 2em;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
        );
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
        );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
        );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
        );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
        );

}

#discussion .panel-body {
    max-height: 248px;
    overflow: hidden;
}

.nav-justified .badge {
    margin-left: 0.5em;
}

#profile-nav {
    margin-bottom: 2em;
}
